<div class="form">
  <h1>If you are a Buildcorp manager, and want to start a new project, you can do so below:</h1>
  <form action="/projects" method="post">
    <div class="form-group">
      <label for="name">Project name</label>
      <input id="n" name="project_name" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Create Project</button>
  </form>
</div>
